<div class="user_panel">
    <a class="th radius photo-wrapper" href="http://instagram.com/<%= user.username %>">
        <img class="profile-photo" src="<%= user.profile_picture %>" width="50px" height="50px">
    </a>
    <div class="name">
        <div class="full-name"><%= user.full_name %></div>
        <div class="user-name"><a href="http://instagram.com/<%= user.username %>">@<%= user.username %></a></div>
    </div>

    <a href="#" class="small button success follow">Following</a>
</div>